/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[叠og]/
/[尝ogs]/
/[建设项目]Build/
/[建设项目]Builds/
/Assets/AssetStoreTools*

# 忽略临时产生的各种工程文件
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svclog
*.decorations

# 忽略系统自动生成的文件
.DS_Store
Thumbs.db